@use "./base/index" as *;
@use "./abstracts/index" as *;
@use "./components/index" as *;
@use "./layout/index" as *;
@use "./themes/index" as *;

main {
  ///////////////////SECTION HERO /////////////////////

  .hero {
    .container {
      .heros {
        @include flex-items();
        justify-content: space-between;

        .hero-content {
          @include flex-items();
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          gap: 40px;
          .hero-title {
            max-width: 610px;
            font-family: Exo2-Semibold;
            font-size: 52px;
            line-height: 65px;
            text-align: left;
            color: $title-btn-color;
          }
          p {
            font-family: PT Sans;
            font-size: 16px;
            line-height: 24px;
            max-width: 525px;
            width: 100%;
            color: $p-color;
            text-align: left;
          }
          .underline {
            text-align: left;
            a {
              font-family: PT Sans-Bold;
              font-size: 16px;
              line-height: 24px;
              text-align: left;
              color: $title-btn-color;
            }

            .line {
              border: 3px solid $line-color;
              max-width: 104px;
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION SEARCH /////////////////////
  .search {
    margin: 67px 0;
    .container {
      .cards {
        @include flex-items();
        justify-content: space-between;
        box-shadow: 0px 4px 20px 0px #00000026;
        border-radius: 20px;
        .card {
          border-right: 1px solid #d7d7dd;
          padding: 0 65px 16px 65px;
          margin: 40px 28px;
          .circle {
            width: 92px;
            height: 92px;
            background-color: $circle-color;
            border-radius: 46px;
            margin-bottom: 24px;
            .img1 {
              margin: 21px;
            }
            .img2 {
              margin: 21px 22px;
            }
            .img3 {
              margin: 27px 12px;
            }
          }
          h4 {
            font-family: Exo2-Semibold;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 16px;
            text-align: left;
          }
          p {
            font-family: PT Sans;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
          }
        }
        .end {
          border-right: none;
        }
      }
    }
  }

  ///////////////////SECTION PROFITABLE /////////////////////

  .profitable {
    .container {
      .profitable-content {
        @include flex-items();
        .title {
          font-family: Exo2-Semibold;
          font-size: 48px;
          line-height: 60px;
          text-align: left;
          color: $second-color;
          background-color: $main-color;
          padding: 178px 317px 167px 90px;
          // border-bottom: 200px solid $main-color;
          // border-left: 200px solid transparent;
          // border-right: 0px solid transparent;
          // height: 0;
          // width: 100px;
        }
        img {
          // height: 0;
          background-color: #00000026;
        }
      }
    }
  }

  ///////////////////SECTION LOREMS /////////////////////

  .lorems {
    margin-top: 72px;
    .container {
      .cards {
        display: flex;
        flex-wrap: wrap;
        padding-left: 66px;
        .card {
          display: flex;
          align-items: center;
          gap: 40px;
          max-width: 447px;
          margin: 0px 140px 62px 0px;
          .circle {
            width: 80px;
            height: 80px;
            background-color: $circle-color;
            border-radius: 40px;
            .img1 {
              margin: 14px 18px 20px;
            }
            .img2 {
              margin: 15px 20px;
            }
            .img3 {
              margin: 18px;
            }
            .img4 {
              margin: 15px 18px;
            }
          }
          .card-title {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .title {
              font-family: Exo2-Semibold;
              font-size: 20px;
              line-height: 27px;
              text-align: left;
              color: $title-btn-color;
            }
            p {
              font-family: PT Sans;
              font-size: 16px;
              line-height: 24px;
              text-align: left;
              color: $p-color;
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION COMPLEATED /////////////////////

  .compleated {
    .container {
      .compleated-content {
        max-width: 667px;
        .title {
          font-family: Exo2-Semibold;
          font-size: 48px;
          line-height: 60px;
          text-align: left;
          color: $title-btn-color;
          margin-bottom: 32px;
        }
        p {
          font-family: PT Sans;
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: $p-color;
          margin-bottom: 56px;
        }
        .cards {
          @include flex-items();
          justify-content: space-between;
          gap: 30px;
          .card {
            padding: 0px 70px 0px 32px;
            border-radius: 10px;
            box-shadow: 0px 4px 15px 0px #0000001f;
            img {
              margin: 0px -70px 0px -32px;
              border-radius: 10px 10px 0 0;
              margin-bottom: 24px;
            }
            .card-title {
              font-family: Exo2-Semibold;
              font-size: 20px;
              line-height: 27px;
              text-align: left;
              margin-bottom: 16px;
              color: $title-btn-color;
            }
            .card-description {
              font-family: PT Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              color: $p-color;
              margin-bottom: 32px;
            }
            .card-price {
              font-family: Exo 2;
              font-size: 16px;
              font-weight: 600;
              line-height: 21.6px;
              text-align: left;
              color: $title-btn-color;
              margin-bottom: 10px;
            }
            .line {
              border: 3px solid $line-color;
              max-width: 75px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION CLIENT /////////////////////

  .client {
    margin-top: 212px;
    .container {
      .client-content {
        background-color: $main-color;
        padding: 85px 66px 85px 81px;
        display: flex;
        gap: 70px;
        .title {
          font-family: Exo2-Semibold;
          font-size: 48px;
          line-height: 60px;
          text-align: left;
          color: $second-color;
          max-width: 477px;
        }
        .table {
          background-color: $second-color;
          padding: 28px 41px;
          border-radius: 8px;
          max-width: 652px;
          .table-content {
            display: flex;
            gap: 194px;
            p {
              font-family: PT Sans;
              font-size: 11px;
              line-height: 16.5px;
              text-align: left;
              max-width: 274px;
            }
          }
          .line {
            border: 1px solid #d7d7dd;
            margin: 32px 0;
            max-width: 588px;
          }
        }
        table {
          .th-title {
            background-color: $main-color;
            th {
              font-family: Exo2-Semibold;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: $second-color;
              border-left: 1px solid #00000033;
              padding: 8px 36px;
              background-color: $main-color;
            }
          }
          tr {
            td {
              padding: 16px;
              border-left: 1px solid #00000033;
              border-bottom: 1px solid #00000033;
              background-color: #f9f9fb;
              p {
                font-family: PT Sans;
                font-size: 14px;
                line-height: 18.9px;
                text-align: left;
                color: $p-color;
              }
              h5 {
                font-family: Exo2-Semibold;
                font-size: 14px;
                line-height: 18.9px;
                text-align: left;
                color: $title-btn-color;
              }
              .title {
                font-family: Pt Sans-Bold;
                font-size: 14px;
                line-height: 18.9px;
                text-align: left;
                color: $title-btn-color;
                background-color: transparent;
              }
              .phone {
                font-family: PT Sans;
                font-size: 14px;
                line-height: 18.9px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION DELIVERY /////////////////////

  .delivery {
    margin: 120px 0;
    .container {
      .delivery-content {
        .title {
          font-family: Exo2-Semibold;
          font-size: 48px;
          line-height: 60px;
          align-items: start;
          margin-bottom: 48px;
        }
        .cards {
          @include flex-items();
          gap: 24px;
          flex-direction: column;
          padding-left: 48px;
          .card {
            padding: 32px 96px;
            box-shadow: 0px 4px 15px 0px #0000001f;
            border-radius: 10px;
            @include flex-items();
            img {
              border-radius: 4px;
              margin-right: 56px;
            }
            .card-content {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 24px;
              .card-title {
                font-family: Exo2-Semibold;
                font-size: 20px;
                line-height: 25px;
              }
              .card-line {
                border: 3px solid #ffce50;
                max-width: 86px;
                width: 100%;
              }
              p {
                font-family: PT Sans;
                font-size: 16px;
                line-height: 24px;
                max-width: 568px;
              }
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION TRUST /////////////////////

  .trust {
    .container {
      .trust-content {
        font-family: Exo2-Semibold;
        font-size: 48px;
        line-height: 60px;
        text-align: left;
        margin-bottom: 90px;
        color: $title-btn-color;
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        padding: 0 60px;
        .card {
          border-right: 1px solid #d7d7dd;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-right: 57px;

          img {
            margin-bottom: 32px;
          }
          .title {
            font-family: Exo2-Semibold;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 14px;
          }
          p {
            font-family: PT Sans;
            font-size: 14px;
            line-height: 21px;
            color: $p-color;
            max-width: 184px;
          }
        }
        .four {
          border-right: none;
          padding-right: none;
          p {
            max-width: 225px;
          }
        }
        .two {
          padding-top: 5px;
          img {
            margin-bottom: 58px;
          }
        }
        .three {
          padding-top: 1px;
        }

        .five {
          padding-top: 27px;
          img {
            margin-bottom: 56px;
          }
        }

        .six {
          padding-top: 9px;
          img {
            margin-bottom: 36px;
          }
        }

        .seven {
          padding-top: 4px;
          padding-right: 35px;
          img {
            margin-bottom: 33px;
          }
        }

        .eight {
          border-right: none;
          padding-right: none;
          padding-top: 22px;
          img {
            margin-bottom: 59px;
          }
        }
      }
    }
  }

  ///////////////////SECTION EMPLOYEE /////////////////////

  .employee {
    margin: 130px 0;
    .container {
      .employee-title {
        font-family: Exo2-Semibold;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 72px;
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .card {
          box-shadow: 0px 4px 15px 0px #00000026;
          border-radius: 10px;
          padding: 32px 179px 40px 32px;
          display: flex;
          border-left: 51px solid $main-color;
          .card-content {
            display: flex;
            flex-direction: column;
            padding: 15px;
            .title {
              font-family: Exo2-Semibold;
              font-size: 20px;
              line-height: 24px;
              text-align: left;
              margin-bottom: 12px;
              color: $title-btn-color;
            }
            p {
              font-family: PT Sans;
              font-size: 14px;
              line-height: 21px;
              text-align: left;
              margin-bottom: 16px;
              color: $p-color;
            }
            .seties {
              display: flex;
              gap: 20px;
            }

            .line {
              border: 2px solid #ffce50;
              max-width: 86px;
              margin-bottom: 32px;
            }
          }
        }
        .three {
          padding: 32px 185px 40px 32px;
        }

        .four {
          padding: 32px 197px 40px 32px;
        }

        .six {
          padding: 32px 195px 40px 32px;
        }
      }
    }
  }

  ///////////////////SECTION EMPLOYEE /////////////////////
}
