* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body,
html {
  padding-top: 109px;
  font-family: "Poppins";
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

@font-face {
  font-family: Exo2-Semibold;
  src: url(../../fonts/Exo_2/static/Exo2-SemiBold.ttf);
}
@font-face {
  font-family: Pt Sans;
  src: url(../../fonts/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
  font-family: Pt Sans-Bold;
  src: url(../../fonts/PT_Sans/PTSans-Bold.ttf);
}
main .hero .container .heros {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .hero .container .heros .hero-content {
  display: flex;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
main .hero .container .heros .hero-content .hero-title {
  max-width: 610px;
  font-family: Exo2-Semibold;
  font-size: 52px;
  line-height: 65px;
  text-align: left;
  color: #363738;
}
main .hero .container .heros .hero-content p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  max-width: 525px;
  width: 100%;
  color: #6b6b6c;
  text-align: left;
}
main .hero .container .heros .hero-content .underline {
  text-align: left;
}
main .hero .container .heros .hero-content .underline a {
  font-family: PT Sans-Bold;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #363738;
}
main .hero .container .heros .hero-content .underline .line {
  border: 3px solid #ffce50;
  max-width: 104px;
}
main .search {
  margin: 67px 0;
}
main .search .container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
}
main .search .container .cards .card {
  border-right: 1px solid #d7d7dd;
  padding: 0 65px 16px 65px;
  margin: 40px 28px;
}
main .search .container .cards .card .circle {
  width: 92px;
  height: 92px;
  background-color: #e9e9ec;
  border-radius: 46px;
  margin-bottom: 24px;
}
main .search .container .cards .card .circle .img1 {
  margin: 21px;
}
main .search .container .cards .card .circle .img2 {
  margin: 21px 22px;
}
main .search .container .cards .card .circle .img3 {
  margin: 27px 12px;
}
main .search .container .cards .card h4 {
  font-family: Exo2-Semibold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
  text-align: left;
}
main .search .container .cards .card p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
main .search .container .cards .end {
  border-right: none;
}
main .profitable .container .profitable-content {
  display: flex;
  align-items: center;
}
main .profitable .container .profitable-content .title {
  font-family: Exo2-Semibold;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  color: #fff;
  background-color: #0b7572;
  padding: 178px 317px 167px 90px;
}
main .profitable .container .profitable-content img {
  background-color: rgba(0, 0, 0, 0.1490196078);
}
main .lorems {
  margin-top: 72px;
}
main .lorems .container .cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 66px;
}
main .lorems .container .cards .card {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 447px;
  margin: 0px 140px 62px 0px;
}
main .lorems .container .cards .card .circle {
  width: 80px;
  height: 80px;
  background-color: #e9e9ec;
  border-radius: 40px;
}
main .lorems .container .cards .card .circle .img1 {
  margin: 14px 18px 20px;
}
main .lorems .container .cards .card .circle .img2 {
  margin: 15px 20px;
}
main .lorems .container .cards .card .circle .img3 {
  margin: 18px;
}
main .lorems .container .cards .card .circle .img4 {
  margin: 15px 18px;
}
main .lorems .container .cards .card .card-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .lorems .container .cards .card .card-title .title {
  font-family: Exo2-Semibold;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  color: #363738;
}
main .lorems .container .cards .card .card-title p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
}
main .compleated .container .compleated-content {
  max-width: 667px;
}
main .compleated .container .compleated-content .title {
  font-family: Exo2-Semibold;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 32px;
}
main .compleated .container .compleated-content p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-bottom: 56px;
}
main .compleated .container .compleated-content .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
main .compleated .container .compleated-content .cards .card {
  padding: 0px 70px 0px 32px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
}
main .compleated .container .compleated-content .cards .card img {
  margin: 0px -70px 0px -32px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 24px;
}
main .compleated .container .compleated-content .cards .card .card-title {
  font-family: Exo2-Semibold;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  margin-bottom: 16px;
  color: #363738;
}
main .compleated .container .compleated-content .cards .card .card-description {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-bottom: 32px;
}
main .compleated .container .compleated-content .cards .card .card-price {
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: #363738;
  margin-bottom: 10px;
}
main .compleated .container .compleated-content .cards .card .line {
  border: 3px solid #ffce50;
  max-width: 75px;
  margin-bottom: 32px;
}
main .client {
  margin-top: 212px;
}
main .client .container .client-content {
  background-color: #0b7572;
  padding: 85px 66px 85px 81px;
  display: flex;
  gap: 70px;
}
main .client .container .client-content .title {
  font-family: Exo2-Semibold;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  color: #fff;
  max-width: 477px;
}
main .client .container .client-content .table {
  background-color: #fff;
  padding: 28px 41px;
  border-radius: 8px;
  max-width: 652px;
}
main .client .container .client-content .table .table-content {
  display: flex;
  gap: 194px;
}
main .client .container .client-content .table .table-content p {
  font-family: PT Sans;
  font-size: 11px;
  line-height: 16.5px;
  text-align: left;
  max-width: 274px;
}
main .client .container .client-content .table .line {
  border: 1px solid #d7d7dd;
  margin: 32px 0;
  max-width: 588px;
}
main .client .container .client-content table .th-title {
  background-color: #0b7572;
}
main .client .container .client-content table .th-title th {
  font-family: Exo2-Semibold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 36px;
  background-color: #0b7572;
}
main .client .container .client-content table tr td {
  padding: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f9f9fb;
}
main .client .container .client-content table tr td p {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 18.9px;
  text-align: left;
  color: #6b6b6c;
}
main .client .container .client-content table tr td h5 {
  font-family: Exo2-Semibold;
  font-size: 14px;
  line-height: 18.9px;
  text-align: left;
  color: #363738;
}
main .client .container .client-content table tr td .title {
  font-family: Pt Sans-Bold;
  font-size: 14px;
  line-height: 18.9px;
  text-align: left;
  color: #363738;
  background-color: transparent;
}
main .client .container .client-content table tr td .phone {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 18.9px;
  text-align: left;
}
main .delivery {
  margin: 120px 0;
}
main .delivery .container .delivery-content .title {
  font-family: Exo2-Semibold;
  font-size: 48px;
  line-height: 60px;
  align-items: start;
  margin-bottom: 48px;
}
main .delivery .container .delivery-content .cards {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  padding-left: 48px;
}
main .delivery .container .delivery-content .cards .card {
  padding: 32px 96px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
main .delivery .container .delivery-content .cards .card img {
  border-radius: 4px;
  margin-right: 56px;
}
main .delivery .container .delivery-content .cards .card .card-content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
main .delivery .container .delivery-content .cards .card .card-content .card-title {
  font-family: Exo2-Semibold;
  font-size: 20px;
  line-height: 25px;
}
main .delivery .container .delivery-content .cards .card .card-content .card-line {
  border: 3px solid #ffce50;
  max-width: 86px;
  width: 100%;
}
main .delivery .container .delivery-content .cards .card .card-content p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  max-width: 568px;
}/*# sourceMappingURL=main.css.map */