* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body,
html {
  padding-top: 109px;
  font-family: "Poppins";
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

@font-face {
  font-family: Exo2-Semibold;
  src: url(../../fonts/Exo_2/static/Exo2-SemiBold.ttf);
}
@font-face {
  font-family: Pt Sans;
  src: url(../../fonts/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
  font-family: Pt Sans-Bold;
  src: url(../../fonts/PT_Sans/PTSans-Bold.ttf);
}
main .hero .container .heros {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .hero .container .heros .hero-content {
  display: flex;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
main .hero .container .heros .hero-content .hero-title {
  max-width: 610px;
  font-family: Exo2-Semibold;
  font-size: 52px;
  line-height: 65px;
  text-align: left;
  color: #363738;
}
main .hero .container .heros .hero-content p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  max-width: 525px;
  width: 100%;
  color: #6b6b6c;
  text-align: left;
}
main .hero .container .heros .hero-content .underline {
  text-align: left;
}
main .hero .container .heros .hero-content .underline a {
  font-family: PT Sans-Bold;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #363738;
}
main .hero .container .heros .hero-content .underline .line {
  border: 3px solid #ffce50;
  max-width: 104px;
}
main .search {
  margin: 67px 0;
}
main .search .container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
}
main .search .container .cards .card {
  border-right: 1px solid #d7d7dd;
  padding: 0 65px 16px 65px;
  margin: 40px 28px;
}
main .search .container .cards .card .circle {
  width: 92px;
  height: 92px;
  background-color: #e9e9ec;
  border-radius: 46px;
  margin-bottom: 24px;
}
main .search .container .cards .card .circle .img1 {
  margin: 21px;
}
main .search .container .cards .card .circle .img2 {
  margin: 21px 22px;
}
main .search .container .cards .card .circle .img3 {
  margin: 27px 12px;
}
main .search .container .cards .card h4 {
  font-family: Exo2-Semibold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
  text-align: left;
}
main .search .container .cards .card p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
main .search .container .cards .end {
  border-right: none;
}
main .profitable .container .profitable-content {
  display: flex;
  align-items: center;
}
main .profitable .container .profitable-content .title {
  font-family: Exo2-Semibold;
  font-size: 48px;
  line-height: 60px;
  text-align: left;
  color: #fff;
  background-color: #0b7572;
  padding: 178px 317px 167px 90px;
}/*# sourceMappingURL=main.css.map */