@use "./base/index" as *;
@use "./abstracts/index" as *;
@use "./components/index" as *;
@use "./layout/index" as *;
@use "./themes/index" as *;

main {
  ///////////////////SECTION HERO /////////////////////

  .hero {
    .container {
      .heros {
        @include flex-items();
        justify-content: space-between;

        .hero-content {
          @include flex-items();
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          gap: 40px;
          .hero-title {
            max-width: 610px;
            font-family: Exo2-Semibold;
            font-size: 52px;
            line-height: 65px;
            text-align: left;
            color: $title-btn-color;
          }
          p {
            font-family: PT Sans;
            font-size: 16px;
            line-height: 24px;
            max-width: 525px;
            width: 100%;
            color: $p-color;
            text-align: left;
          }
          .underline {
            text-align: left;
            a {
              font-family: PT Sans-Bold;
              font-size: 16px;
              line-height: 24px;
              text-align: left;
              color: $title-btn-color;
            }

            .line {
              border: 3px solid $line-color;
              max-width: 104px;
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION SEARCH /////////////////////
  .search {
    margin: 67px 0;
    .container {
      .cards {
        @include flex-items();
        justify-content: space-between;
        box-shadow: 0px 4px 20px 0px #00000026;
        border-radius: 20px;
        .card {
          border-right: 1px solid #d7d7dd;
          padding: 0 65px 16px 65px;
          margin: 40px 28px;
          .circle {
            width: 92px;
            height: 92px;
            background-color: $circle-color;
            border-radius: 46px;
            margin-bottom: 24px;
            .img1 {
              margin: 21px;
            }
            .img2 {
              margin: 21px 22px;
            }
            .img3 {
              margin: 27px 12px;
            }
          }
          h4 {
            font-family: Exo2-Semibold;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 16px;
            text-align: left;
          }
          p {
            font-family: PT Sans;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
          }
        }
        .end {
          border-right: none;
        }
      }
    }
  }

  ///////////////////SECTION PROFITABLE /////////////////////

  .profitable {
    .container {
      .profitable-content {
        @include flex-items();
        .title {
          font-family: Exo2-Semibold;
          font-size: 48px;
          line-height: 60px;
          text-align: left;
          color: $second-color;
          background-color: $main-color;
          padding: 178px 317px 167px 90px;
          // border-bottom: 200px solid $main-color;
          // border-left: 200px solid transparent;
          // border-right: 0px solid transparent;
          // height: 0;
          // width: 100px;
        }
        img {
          // height: 0;
          background-color: #00000026;
        }
      }
    }
  }

  ///////////////////SECTION LOREMS /////////////////////

  .lorems {
    margin-top: 72px;
    .container {
      .cards {
        display: flex;
        flex-wrap: wrap;
        padding-left: 66px;
        .card {
          display: flex;
          align-items: center;
          gap: 40px;
          max-width: 447px;
          margin: 0px 140px 62px 0px;
          .circle {
            width: 80px;
            height: 80px;
            background-color: $circle-color;
            border-radius: 40px;
            .img1 {
              margin: 14px 18px 20px;
            }
            .img2 {
              margin: 15px 20px;
            }
            .img3 {
              margin: 18px;
            }
            .img4 {
              margin: 15px 18px;
            }
          }
          .card-title {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .title {
              font-family: Exo2-Semibold;
              font-size: 20px;
              line-height: 27px;
              text-align: left;
              color: $title-btn-color;
            }
            p {
              font-family: PT Sans;
              font-size: 16px;
              line-height: 24px;
              text-align: left;
              color: $p-color;
            }
          }
        }
      }
    }
  }

  ///////////////////SECTION COMPLEATED /////////////////////

  .compleated {
    .container {
      .compleated-content {
        max-width: 667px;
        .title {
          font-family: Exo2-Semibold;
          font-size: 48px;
          line-height: 60px;
          text-align: left;
          color: $title-btn-color;
          margin-bottom: 32px;
        }
        p {
          font-family: PT Sans;
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: $p-color;
          margin-bottom: 56px;
        }
        .cards {
          @include flex-items();
          justify-content: space-between;
          gap: 30px;
          .card {
            padding: 0px 70px 0px 32px;
            border-radius: 10px;
            box-shadow: 0px 4px 15px 0px #0000001f;
            img {
              margin: 0px -70px 0px -32px;
              border-radius: 10px 10px 0 0;
              margin-bottom: 24px;
            }
            .card-title {
              font-family: Exo2-Semibold;
              font-size: 20px;
              line-height: 27px;
              text-align: left;
              margin-bottom: 16px;
              color: $title-btn-color;
            }
            .card-description {
              font-family: PT Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              color: $p-color;
              margin-bottom: 32px;
            }
            .card-price {
              font-family: Exo 2;
              font-size: 16px;
              font-weight: 600;
              line-height: 21.6px;
              text-align: left;
              color: $title-btn-color;
              margin-bottom: 10px;
            }
            .line {
              border: 3px solid $line-color;
              max-width: 75px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }

  .client {
    margin-top: 212px;
    background-color: $main-color;
  }
}
