@use "../base/typography" as *;
@use "../abstracts/variables" as *;

footer {
  background-color: $main-color;
  padding: 59px 95px;
  .footer-content {
    display: flex;
    h1 {
      font-family: Familjen Grotesk;
      font-size: 60px;
      font-weight: 500;
      line-height: 90px;
      letter-spacing: 0.16em;
      text-align: left;

      line-height: 90px;
      letter-spacing: 0.16em;
      color: $second-color;
    }
    .catalog {
      margin-top: 21px;
      margin-left: 134px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 25px;
      color: $second-color;
      h6 {
        font-family: Exo2-Semibold;
        font-size: 13px;
        font-weight: 600;
        line-height: 19.5px;
        letter-spacing: 0.16em;
        text-align: center;
      }
    }
    .d2 {
      display: flex;
      flex-direction: column;
      gap: 25px;
      color: $second-color;
      margin-top: 24px;
      margin-left: 97px;
      h6 {
        font-family: Exo2;
        font-size: 13px;
        font-weight: 500;
        line-height: 19.5px;
        letter-spacing: 0.16em;
        text-align: left;
      }
    }
    .sotsets {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-top: 24px;
      margin-left: 180px;

      .sotset {
        display: flex;
        gap: 14px;
      }
      .phone {
        font-family: Exo2-Semibold;
        font-size: 13px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: left;
        color: $second-color;
      }
      button {
        background-color: #ff9619;
        border: 1px solid #ff9619;
        padding: 7px 11px;
        color: $second-color;
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: left;
        text-transform: uppercase;
        img {
          margin-left: 14px;
        }
      }
    }
  }
  .footer-text {
    font-family: Exo2;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.16em;
    text-align: center;
    color: $second-color;
    margin-top: 80px;
  }
}
