@font-face {
  font-family: Exo2-Semibold;
  src: url(../../fonts/Exo_2/static/Exo2-SemiBold.ttf);
}

@font-face {
  font-family: Pt Sans;
  src: url(../../fonts/PT_Sans/PTSans-Regular.ttf);
}

@font-face {
  font-family: Pt Sans-Bold;
  src: url(../../fonts/PT_Sans/PTSans-Bold.ttf);
}
